body {
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

rect {
fill:none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666;
}

.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}
* {font-family: "Microsoft YaHei" ! important; } 

circle {
  fill: #fff;
}

path {
  fill: #1B6B62;
  stroke: #fff;
}
.background {
  fill: none;
  pointer-events: all;
}
.active {
-moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  fill: rgb(6, 194, 186);
}
.active:hover{
-moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.2s ease-in;
fill:rgb(243, 221, 57)
}
#resultBox{
fill: #A8D8DF;
stroke: #97B6A7;
stroke-width: 12px;
stroke-opacity: 0.5;
}